*{
    margin: 0;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
}
nav .logo{
    margin-left: 10px;
    color: aliceblue;
    text-decoration: none;
    border: none;
}
nav .menu a{
    text-decoration: none;
    padding: 7px;
    margin-left: 25px;
    background-color: #04AA6D;
    border-radius: 30% 20%;
    color: black;
    transition: 0.3s ease;
    border: solid 2px;
}
nav .menu a:hover{
    background-color: black;
    color: aliceblue;
}
